body {
    padding: 0;
    box-sizing: border-box;
    background: black;
    font-family: 'Arial', sans-serif;
    color: #feda4a;
    font-size: 30px;
    line-height: 2cm;
    margin: 0 auto;
}

.container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

@keyframes identifier {
    from {
        top: 100vh;
        transform: scale(1);
    }

    to {
        top: -100vh;
        transform: scale(0.5);
    }
}

.styles-text {
    position: absolute;
    left: 155px;
    top: -100vh;
    margin: 0 auto;
    width: 80%;

    animation: identifier 30s linear infinite;
}

.styles-title {

    transform: perspective(200px) rotateX(20deg);
}